@font-face {
    font-family:"Skybird-Regular";
    src: url("../fonts/Skybird-Regular.ttf") /* TTF file for CSS3 browsers */
}
html, body {
	font-family: Skybird-Regular, sans-serif;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	padding-top: 2.16em;
	margin: 0;
	box-sizing: border-box;
	width:100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

hr {
	border-top: 3px solid black;
	margin: 0;
}

h1 {
	margin: 0;
}

section, nav {
	border-bottom: 3px solid black !important;
}

.content p {
	width: 75%;
	text-indent: 1.3em;
}

.section-title {
	margin: 0.2em 0.2em 0.2em 2.5em;
	font-weight: 600;
	font-size: 1.5em;
}

.clear {
	clear: both;
}

.pull, .push {
	position: relative;
}


#intro {
	background-color: mintcream;
	overflow: visible;
	top: 0;
	left: 0;
	height: 5.5em;
	width: 100%;
	z-index: 100;
}

#top-nav {
	background-color: mintcream;
}

#profile-pic {
	border-radius: 50%;
	position: relative;
	width: 4em;
	/* margin: 1em; */
	left: 1em;
	box-shadow: 0px 0px 10px;
	transition: width 0.5s;
}

#profile-pic:hover {
	opacity: 1;
	width: 5.3em;
}

#title {
	display: inline-block;
	text-align: center;
	margin: 0em;
	vertical-align: top;
	position: relative;
	left: 1em;
	bottom: -0.4em;
}

#arrow {
	position: relative;
	top: 0.9em;
	left: 2.2em;
	width: 2.1em;
	vertical-align: top;
}

.links {
	margin-right: 0.8em;
}

.nav-link {
	display: inline-block;
	float: right;
	padding: 1em;
	font-weight: 900;
	font-size: 1.2em;
	text-decoration: none;
}

#envelope {
		width: 1.2em;
		position: relative;
		bottom: 0.2em;
	}

#story {
	min-height: 17em;
	background-image: url(../img/storyback.png);
	padding: 1em;
	overflow: auto;
}

#anchor-story {
	display: block;
    position: relative;
    visibility: hidden;
    top: -8.3em;
}

#story-content {
	position: relative;
}

ul li {
	list-style: none;
}
/*Hidden Pictures*/

#michigan {
    width: 13em;
    display: none;
}

#nmu {
    width: 13em;
    display: none;
}

#quiz-pic {
    width: 24em;
    border-radius: 5px;
    /* display: none; */
}

#work {
	min-height: 17em;
	background-image: url(../img/workback.png);
	padding: 1em;
	overflow: auto;
}

.work-item {
	font-size: 1em;
}

#anchor-work {
	display: block;
	position: relative;
	visibility: hidden;
	top: -4.9em;
}

#imagination {
	min-height: 17em;
	padding: 1em;
	background-image: url(../img/imaginationback.png);
	background-color: #B6A5F0;
	overflow: auto;
}

#anchor-imagination {
	display: block;
	position: relative;
	visibility: hidden;
	top: -4.9em;
}

#outro {
	min-height: 1em;
	background-color: white;
	color: black;
	padding: 0.5em;
}

#social {display: block;margin: 0 auto;}

#linkedin {
	width: 2.2em;
	margin: 0 auto;
	display: block;
}

/* @media (max-width: 842px) {
	body {
		padding-top: 1.6em;
	}

	#intro {
		height: 4.3em;
	}

	.nav-link {
		box-sizing: border-box;
		font-size: 12px;
		margin-top: -1em;
		padding: 0.6em;
	}

	#title {
    	margin: 0em;
    	position: absolute;
    	font-size: 1.6em;
    	top: 0.6em;
    	left: 18%;
  }

	#profile-pic {
		width: 2.4em;
		position: absolute;
		z-index: 101;
	}
	#profile-pic:hover {
		width: :4em;		
	}

	#arrow {
		display: none;
	}

	#anchor-story {
	    top: -5.5em;
	}

	#anchor-work {
	    top: -5.5em;
	}

	#anchor-imagination {
	    top: -5.5em;
	}	

	.content {
		width: 100%;
	}

	.content p {
		font-size: 0.8em;
	}

	#envelope {
		bottom: 0.1em;
	}

	#attribution {
		font-size: 0.6em;
	}
}

@media (max-width: 842px) {
	#title {
		left: 21%;
	}
}

 */