@font-face {
    font-family:"Skybird-Regular";
    src: url("../fonts/Skybird-Regular.ttf") /* TTF file for CSS3 browsers */
}
html, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width:100%;
	height: 100%
}

a {
	text-decoration: none;
	color: inherit;
}

.clear {
	clear: both;
}
#intro {
	background-color: lightgreen;
	overflow: visible;
	position: fixed;
	height: 7em;
	width: 100%;
}

#topnav {
	position: relative;
}

#profile-pic {
	border-radius: 50%;
	position: relative;
	width: 5%;
	margin: 1em;
	box-shadow: 0px 0px 10px;
	transition: width 0.5s;
}

#profile-pic:hover {
	width: 10%;
}

#title {
	font-family: Skybird-Regular, sans-serif;
	display: inline-block;
	text-align: center;
	margin: 0em;
	vertical-align: top;
	position: relative;
	bottom: -0.9em;
}

#arrow {
	position: relative;
	top: 1.6em;
	left: 0.5em;
	width: 2.8em;
	vertical-align: top;
}

.links {
	margin-right: 4em;
}

.nav-link {
	font-family: Skybird-Regular, sans-serif;
	display: inline-block;
	float: right;
	padding: 1em;
	margin-top: 0.8em;
	font-weight: 900;
	font-size: 1.2em;
	text-decoration: none;
}

@media (max-width: 548px) {
	.nav-link {
		font-size: 12px;
	}

	#title {
    	margin: 0em;
    	left: 1em;
    	bottom: 0em;
	}
	#arrow {
		display: none;
	}
	#profile-pic {
		width: 9%;
		position: absolute;
	}
	#profile-pic:hover {
		width: :9%;
	}
}